In [1]:
import pandas as pd
import csv

In [2]:
vine_df = pd.read_csv("vine_table.csv")

In [6]:
vine_df.tail(30)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4864219,R15GVWRTHQURK4,5.0,58.0,60.0,N,N
4864220,RX4TNMHCHDXF5,5.0,2.0,2.0,N,Y
4864221,R281Y9SN6SMR9L,5.0,12.0,14.0,N,N
4864222,RR1PBRYLQHDN0,5.0,15.0,17.0,N,N
4864223,R39HOOA1RU1Q44,5.0,2.0,2.0,N,N
4864224,R2A8FINE8TXEA4,5.0,35.0,35.0,N,N
4864225,RG6J6CBLLH4F,5.0,5.0,18.0,N,N
4864226,R2GLKH27M7DT3F,5.0,26.0,27.0,N,N
4864227,R1CZH1TIY8Q3TI,5.0,0.0,0.0,N,N
4864228,R22O58NKQZPC6R,3.0,3.0,3.0,N,N
4864229,R18ZLUQY7Z1O1A,1.0,22.0,26.0,N,N
4864230,R9P58SVTC6WX,3.0,29.0,34.0,N,N
4864231,R38OUW047HVFOA,5.0,64.0,93.0,N,N
4864232,R1KVM39UZUL3RM,4.0,2.0,2.0,N,N
4864233,R358ZOGVA3U282,5.0,0.0,1.0,N,N
4864234,RX6OVBR9HW8UT,4.0,18.0,23.0,N,N
4864235,R1C5GRNR8YJZB4,5.0,4.0,5.0,N,N
4864236,R1E0ZP5W669QRK,5.0,0.0,0.0,N,N
4864237,R1QAWI39L1RP6L,3.0,0.0,1.0,N,N
4864238,R1VLOYQSQYGTW0,5.0,0.0,0.0,N,N
4864239,R39WQRXHE773AZ,5.0,2.0,2.0,N,N
4864240,R1LGX0XI8HMJD5,1.0,59.0,65.0,N,N
4864241,R2R8VT48Z9HZUB,5.0,0.0,0.0,N,N
4864242,R3LS3DOYDLPFE,5.0,63.0,69.0,N,N
4864243,R3NKPKIBIWQH3Z,5.0,0.0,0.0,N,N
4864244,R1UP8F8Y4GC3IE,4.0,0.0,1.0,N,N
4864245,R3K9ZYANG0OFJB,5.0,7.0,7.0,N,N
4864246,R17ULZ2VC0O3CG,4.0,23.0,23.0,N,N
4864247,R13AWVNEKSY9M1,5.0,5.0,5.0,N,N
4864248,R1HN7EVNEN51LR,4.0,2.0,7.0,N,N

In [4]:
#Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_vote
vine_df_reviews = vine_df[vine_df["total_votes"]>= 20]

In [7]:
vine_df_reviews = vine_df_reviews[vine_df_reviews["helpful_votes"] >= 50 ]

In [8]:
# Filter the dataframe that retrieves all the rows where a review was written as part of the vine program(paid)
vine_df_reviews_vine = vine_df_reviews[vine_df_reviews["vine"] == "Y"]

In [9]:
vine_df_reviews_vine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
25013,R1V8NDXD9SETO5,3.0,320.0,352.0,Y,N
33963,R34JSTH01HK1J8,4.0,75.0,80.0,Y,N
42867,R24STRS5M3QEXQ,5.0,60.0,65.0,Y,N
46291,R1NMYF3BJM72A0,4.0,57.0,60.0,Y,N
75128,RE9U5PTH7RV14,5.0,173.0,188.0,Y,N

In [10]:
vine_df_reviews_novine = vine_df_reviews[vine_df_reviews["vine"] == "N"]

In [11]:
vine_df_reviews_novine.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
424,R1QS8AOD6HX3ED,4.0,59.0,81.0,N,N
1176,R2LWX4TZ67FWPT,4.0,50.0,50.0,N,N
1515,R29IYHPYD14AGI,3.0,84.0,84.0,N,Y
4145,R18T8SFBDXAKSY,5.0,95.0,95.0,N,Y
4252,R36SKVJXZ0I98A,5.0,124.0,127.0,N,N

In [19]:
# total number of vine count reviews
vine_paid_count = vine_df_reviews_vine["review_id"].count()
vine_yes_count

381

In [20]:
vine_nopaid_count = vine_df_reviews_novine["review_id"].count()
vine_no_count

14507

In [21]:
total_reviews_count = vine_df_reviews_vine["review_id"].count() + vine_df_reviews_novine["review_id"].count()
total_reviews_count

14888

In [25]:
vine_paid_review_percentage = vine_paid_count/total_reviews_count * 100
vine_paid_review_percentage

2.559108006448146

In [29]:
vine_nopaid_review_percentage = vine_nopaid_count/total_reviews_count * 100
vine_nopaid_review_percentage

97.44089199355186